// Preset Color Styles
@import "colors/presets";

// Global Styles
@import "global";

// Navbar
@import "navbar";

// About US Area
@import "about";

// Schedule Area
@import "schedule";

// Service Area
@import "service";

// Portfolio Area
@import "portfolio";

// Team Area
@import "team";

// Blog Area
@import "blog";

// Contact Area
@import "contact";

// Contact Area
@import "footer";

// Shortcode
@import "shortcode";

.ticketFrame {
  border: none;
}
.mainTitle {
  font-size: 5rem;
  color: white;
  @media (max-width: 1199px) {
    font-size: 3rem;
  }
}
#coc {
  img {
    display: block;
    @media (max-width: 1199px) {
      margin-bottom: 3em !important;
    }
  }
}
